# 나이별 쿼터값

In [2]:
import math
import re
import time
from datetime import datetime, date

import requests
from bs4 import BeautifulSoup
from selenium import webdriver

from IPython.display import Image
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', None)

from pykrx import stock
import FinanceDataReader as fdr
from pandas_datareader import data as pdr
import yfinance as yf
yf.pdr_override()
import FinanceDataReader as fdr
import finterstellar as fs


import talib.abstract as ta
from talib import MA_Type


import warnings
warnings.filterwarnings(action='ignore')

import matplotlib.pyplot as plt
import seaborn as sns
sns.set()
#-------------------- 차트 관련 속성 (한글처리, 그리드) -----------
#plt.rc('font', family='NanumGothicOTF') # For MacOS
plt.rcParams['font.family'] = 'Malgun Gothic'
plt.rcParams['axes.unicode_minus'] = False

pd.set_option('max_colwidth', None)
plt.rcParams['font.family']

findfont: Font family ['NanumBarunGothic'] not found. Falling back to DejaVu Sans.

['Malgun Gothic']

In [77]:
total_seoul=pd.read_csv('./datasets/total_seoul.csv')
total_seoul.head(1)

,회원일련번호값,측정일자,측정일련번호,센터명,측정연령수,기존나이구간,추가나이구간,인증구분명,성별구분코드,신장(cm),체중(kg),체지방율(%),허리둘레(cm),BMI(kg/㎡),BMI_판정,비만동반질환_위험도,상대악력(%),교차윗몸일으키기(회),왕복오래달리기(회),스텝검사출력(VO₂max),심폐지구력등급,앉아윗몸앞으로굽히기(cm),10M_4회_왕복달리기(초),전신반응(초),제자리멀리뛰기(cm),준비운동,본운동,마무리운동
0,AAHqSyC0tCo0Z6IOUnO2+tWk,20221006,2,강북,31.0,30대초반,30대초반,4,남,165.5,76.7,34.6,96.0,28.0,3,4,55.3,43.0,NaN,41.0,3,10.0,NaN,0.377,170.0,"상지루틴스트레칭,하지루틴스트레칭1,엎드려버티기,앉았다일어서기,누워서엉덩이들어올리기,허리스트레칭,팔굽혀펴기,버피테스트,네발기기자세에서손바닥으로바닥밀기,아령뒤로들어올리기","상지루틴스트레칭,하지루틴스트레칭1,엎드려버티기,앉았다일어서기,누워서엉덩이들어올리기,허리스트레칭,팔굽혀펴기,버피테스트,네발기기자세에서손바닥으로바닥밀기,아령뒤로들어올리기","상지루틴스트레칭,하지루틴스트레칭1,엎드려버티기,앉았다일어서기,누워서엉덩이들어올리기,허리스트레칭,팔굽혀펴기,버피테스트,네발기기자세에서손바닥으로바닥밀기,아령뒤로들어올리기"

In [78]:
total_seoul['교차윗몸일으키기(회)'][total_seoul['측정연령수']==26]=total_seoul['교차윗몸일으키기(회)'][total_seoul['측정연령수']==26].fillna(int(total_seoul['교차윗몸일으키기(회)'][total_seoul['측정연령수']==26].mean()))

In [79]:
display(total_seoul['교차윗몸일으키기(회)'][total_seoul['측정연령수']==19].quantile(q=0.30))
display(total_seoul['교차윗몸일으키기(회)'][total_seoul['측정연령수']==19].quantile(q=0.50))
display(total_seoul['교차윗몸일으키기(회)'][total_seoul['측정연령수']==19].quantile(q=0.75))

36.0

42.0

50.0

In [80]:
total_seoul['성별구분코드'].value_counts()

남    477241
여    317773
Name: 성별구분코드, dtype: int64

In [81]:
total_seoul.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 795014 entries, 0 to 795013
Data columns (total 28 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   회원일련번호값          795014 non-null  object
 1   측정일자             795014 non-null  int64
 2   측정일련번호           795014 non-null  int64
 3   센터명              795014 non-null  object
 4   측정연령수            795014 non-null  float64
 5   기존나이구간           795014 non-null  object
 6   추가나이구간           795014 non-null  object
 7   인증구분명            795014 non-null  int64
 8   성별구분코드           795014 non-null  object
 9   신장(cm)           794685 non-null  float64
 10  체중(kg)           794833 non-null  float64
 11  체지방율(%)          794721 non-null  float64
 12  허리둘레(cm)         795014 non-null  float64
 13  BMI(kg/㎡)        795014 non-null  float64
 14  BMI_판정           795014 non-null  int64
 15  비만동반질환_위험도       795014 non-null  int64
 16  상대악력(%)          794791 non-null  float64
 17  교차윗몸일으키기(회)      793300 non-null  float64
 18  왕복오래달리기(회)       196859 non-null  float64
 19  스텝검사출력(VO₂max)   795014 non-null  float64
 20  심폐지구력등급          795014 non-null  int64
 21  앉아윗몸앞으로굽히기(cm)   793878 non-null  float64
 22  10M_4회_왕복달리기(초)  444274 non-null  float64
 23  전신반응(초)          182503 non-null  float64
 24  제자리멀리뛰기(cm)      698068 non-null  float64
 25  준비운동             795014 non-null  object
 26  본운동              795014 non-null  object
 27  마무리운동            795014 non-null  object
dtypes: float64(14), int64(6), object(8)
memory usage: 169.8+ MB

In [82]:
total_seoul.columns

Index(['회원일련번호값', '측정일자', '측정일련번호', '센터명', '측정연령수', '기존나이구간', '추가나이구간',
       '인증구분명', '성별구분코드', '신장(cm)', '체중(kg)', '체지방율(%)', '허리둘레(cm)',
       'BMI(kg/㎡)', 'BMI_판정', '비만동반질환_위험도', '상대악력(%)', '교차윗몸일으키기(회)',
       '왕복오래달리기(회)', '스텝검사출력(VO₂max)', '심폐지구력등급', '앉아윗몸앞으로굽히기(cm)',
       '10M_4회_왕복달리기(초)', '전신반응(초)', '제자리멀리뛰기(cm)', '준비운동', '본운동', '마무리운동'],
      dtype='object')

- 전문도구 필요한 것 : '상대악력(%)', '스텝검사출력(VO₂max)', '전신반응(초)'

- 쿼터값 가능한 것 : '교차윗몸일으키기(회)', '왕복오래달리기(회)', '앉아윗몸앞으로굽히기(cm)','10M_4회_왕복달리기(초),'제자리멀리뛰기(cm)'

In [83]:
age_list=total_seoul['측정연령수'].value_counts().index
age_list

Float64Index([27.0, 33.0, 28.0, 35.0, 23.0, 32.0, 19.0, 24.0, 29.0, 20.0, 31.0,
              30.0, 21.0, 25.0, 26.0, 22.0, 34.0, 38.0, 37.0, 36.0, 39.0],
             dtype='float64')

In [84]:
age_list=np.arange(19,40)
len(age_list)

21

In [85]:
col_list=['신장(cm)', '체중(kg)', '체지방율(%)', '허리둘레(cm)',
       'BMI(kg/㎡)','상대악력(%)', '교차윗몸일으키기(회)',
       '왕복오래달리기(회)', '스텝검사출력(VO₂max)','앉아윗몸앞으로굽히기(cm)',
       '10M_4회_왕복달리기(초)', '전신반응(초)', '제자리멀리뛰기(cm)']

In [96]:
age_list=np.arange(19,40)

q_dict={}
남_df_list=[]
for age in age_list:
    for col in col_list:
        q30=total_seoul[col][(total_seoul['측정연령수']==age)&(total_seoul['성별구분코드']=='남')].quantile(q=0.30,interpolation='nearest')
        q50=total_seoul[col][(total_seoul['측정연령수']==age)&(total_seoul['성별구분코드']=='남')].quantile(q=0.50,interpolation='nearest')
        q70=total_seoul[col][(total_seoul['측정연령수']==age)&(total_seoul['성별구분코드']=='남')].quantile(q=0.70,interpolation='nearest')
    
        q_dict[col]=[q30,q50,q70]
    globals()['남_' + str(age)]=pd.DataFrame(q_dict,index=['q30','q50','q70']).T.reset_index()
    globals()['남_' + str(age)]=globals()['남_' + str(age)].rename(columns={'index':'구분'})
    남_df_list.append(globals()['남_' + str(age)])

In [97]:
len(남_df_list)

21

In [98]:
남_20

                 구분      q30      q50         q70
0            신장(cm)  171.100  174.500  177.400000
1            체중(kg)   67.100   73.100   79.100000
2           체지방율(%)   16.100   18.800   23.000000
3          허리둘레(cm)   77.000   81.300   85.500000
4         BMI(kg/㎡)   22.300   24.000   25.600000
5           상대악력(%)   56.200   61.200   66.700000
6       교차윗몸일으키기(회)   42.000   47.000   53.000000
7        왕복오래달리기(회)   40.000   48.000   55.000000
8    스텝검사출력(VO₂max)   45.000   47.300   49.199259
9    앉아윗몸앞으로굽히기(cm)    7.200   10.700   16.100000
10  10M_4회_왕복달리기(초)   10.200   10.600   11.170000
11          전신반응(초)    0.304    0.327    0.348000
12      제자리멀리뛰기(cm)  205.000  220.000  232.000000

In [99]:
age_list=np.arange(19,40)

q_dict={}
여_df_list=[]
for age in age_list:
    for col in col_list:
        q30=total_seoul[col][(total_seoul['측정연령수']==age)&(total_seoul['성별구분코드']=='여')].quantile(q=0.30,interpolation='nearest')
        q50=total_seoul[col][(total_seoul['측정연령수']==age)&(total_seoul['성별구분코드']=='여')].quantile(q=0.50,interpolation='nearest')
        q70=total_seoul[col][(total_seoul['측정연령수']==age)&(total_seoul['성별구분코드']=='여')].quantile(q=0.70,interpolation='nearest')
    
        q_dict[col]=[q30,q50,q70]
    globals()['여_' + str(age)]=pd.DataFrame(q_dict,index=['q30','q50','q70']).T.reset_index()
    globals()['여_' + str(age)]=globals()['여_' + str(age)].rename(columns={'index':'구분'})
    여_df_list.append(globals()['여_' + str(age)])

In [90]:
len(여_df_list)

21

In [188]:
여_33

                 구분         q30         q50         q70
0            신장(cm)  167.000000  167.000000  167.000000
1            체중(kg)   67.200000   68.000000   68.000000
2           체지방율(%)   26.500000   27.100000   27.900000
3          허리둘레(cm)   81.668414   81.860652   82.454712
4         BMI(kg/㎡)   24.100000   24.300000   24.400000
5           상대악력(%)   52.800000   56.600000   61.700000
6       교차윗몸일으키기(회)   38.000000   45.000000   50.000000
7        왕복오래달리기(회)   37.000000   38.000000   50.000000
8    스텝검사출력(VO₂max)   38.400000   38.800000   38.800000
9    앉아윗몸앞으로굽히기(cm)   21.300000   22.600000   24.000000
10  10M_4회_왕복달리기(초)   10.580000   10.730000   10.790000
11          전신반응(초)    0.338000    0.363000    0.390000
12      제자리멀리뛰기(cm)  170.000000  175.000000  177.000000

# 설문지만들기

### 국민체력100 제공 기본항목

<table>
                                                    <caption>성인기 체력 인증 단계 표 : 체력 인증 프로그램, 인증 단계, 인증 기준 항목을 포함한 표</caption>
                                                    <colgroup>
                                                        <col style="width: 23%;">
                                                        <col style="width: 13%;">
                                                        <col style="width: auto;">
                                                    </colgroup>
                                                    <thead>
                                                        <tr>
                                                            <th>체력 인증 프로그램</th>
                                                            <th>인증 단계</th>
                                                            <th>인증기준</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <th scope="row" rowspan="4">국민체력100 NFA<br>(National Fitness Award)</th>
                                                            <td>1등급</td>
                                                            <td class="left">건강체력이 모두 70백분위 이상, 운동체력 중 한 가지가 70백분위 이상(신체조성 제외)</td>
                                                        </tr>
                                                        <tr>
                                                            <td>2등급</td>
                                                            <td class="left">건강체력이 모두 50백분위 이상, 운동체력 중 한 가지가 50백분위 이상(신체조성 제외)</td>
                                                        </tr>
                                                        <tr>
                                                            <td>3등급</td>
                                                            <td class="left">건강체력이 모두 30백분위 이상, 신체조성이 건강 권장 범위일 때</td>
                                                        </tr>
                                                        <tr>
                                                            <td>참가증</td>
                                                            <td class="left">기타 참가자(위 수상기준 미달자)</td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">신체조성 건강권장범위</th>
                                                            <td colspan="2" class="left">신체질량지수(BMI) : 18 &lt; BMI &lt; 25<br>체지방률 : 7% &lt; 남자 &lt; 25%, 16% &lt; 여자 &lt; 32%</td>
                                                        </tr>
                                                    </tbody>
                                                </table>

In [92]:
건강체력항목=['왕복오래달리기(회)', '스텝검사출력(VO₂max)', # 심폐지구력
        '상대악력(%)', # 근력
        '교차윗몸일으키기(회)', # 근지구력
        '앉아윗몸앞으로굽히기(cm)']  # 유연성
운동체력항목=['10M_4회_왕복달리기(초)', '전신반응(초)',  # 민첩성
        '제자리멀리뛰기(cm)','성인체공시간(초)'] # 순발력
신체조성=['BMI(kg/㎡)', '체지방율(%)']

1. '왕복오래달리기(회)'
    - DB연동하기
    
2. '스텝검사출력(VO₂max)'
    - 당신은 유산소 운동능력이 좋습니까?
        1. 매우 좋다(4)
        2. 좋다(3)
        3. 보통이다(2)
        4. 매우 좋지않다(1)

3. '상대악력(%)'
    - 당신은 악력이 어느정도 된다고 생각하십니까?
        1. 매우 세다(4) 
        2. 세다(3) 
        3. 보통이다(2)
        4. 매우 약하다(1)
        
4. '교차윗몸일으키기(회)'
    - DB연동하기
    
5. '앉아윗몸앞으로굽히기(cm)'
    - 당신은 유연성이 좋습니까?
        1. 매우좋다(4)
        2. 좋다(3)
        3. 보통이다(2)
        4. 매우 좋지 않다(1)


6. '10M_4회_왕복달리기(초)'
    - 당신은 10M 4회 왕복달리기를 몇 초 이내에 하실 수 있으십니까?
        - DB연동하기
        
7. '전신반응(초)'
    - 당신은 전신반응(민첩성)이 좋다고 생각하십니까?
        1. 매우좋다(4)
        2. 좋다(3)
        3. 보통이다(2)
        4. 매우 좋지않다(1)

8. '제자리멀리뛰기(cm)'
    - DB연동하기

In [61]:
# 여_df_list

In [101]:
import sqlalchemy as sa
from sqlalchemy import create_engine

# df_list=[여20대초반,여20대후반,여30대초반,여30대후반,남20대초반,남20대후반,남30대초반,남30대후반]
df_name_list=['여19','여20','여21','여22','여23','여24','여25','여26','여27','여28','여29','여30','여31','여32','여33','여34','여35','여36','여37','여38','여39']

dtyp = {}
for i,df in enumerate(여_df_list):
    for column in df.columns:
        if df[column].dtype == 'object':
            dtyp[column] = sa.types.VARCHAR(df[column].astype(str).str.len().max())
        elif df[column].dtype in ['float', 'float64']:
            dtyp[column] = sa.FLOAT
    engine = create_engine("oracle+cx_oracle://AI:0000@localhost:1521/XE")
    df.to_sql(df_name_list[i], engine ,index=False, dtype=dtyp)
    engine.dispose()

In [102]:
import sqlalchemy as sa
from sqlalchemy import create_engine

# df_list=[여20대초반,여20대후반,여30대초반,여30대후반,남20대초반,남20대후반,남30대초반,남30대후반]
df_name_list=['남19','남20','남21','남22','남23','남24','남25','남26','남27','남28','남29','남30','남31','남32','남33','남34','남35','남36','남37','남38','남39']

dtyp = {}
for i,df in enumerate(남_df_list):
    for column in df.columns:
        if df[column].dtype == 'object':
            dtyp[column] = sa.types.VARCHAR(df[column].astype(str).str.len().max())
        elif df[column].dtype in ['float', 'float64']:
            dtyp[column] = sa.FLOAT
    engine = create_engine("oracle+cx_oracle://AI:0000@localhost:1521/XE")
    df.to_sql(df_name_list[i], engine ,index=False, dtype=dtyp)
    engine.dispose()

In [ ]:
'왕복오래달리기(회)','10M_4회_왕복달리기(초)','제자리멀리뛰기(cm)','교차윗몸일으키기(회)'
'상대악력(%)','스텝검사출력(VO₂max)','앉아윗몸앞으로굽히기(cm)','전신반응(초)'

In [23]:
질문_list=[['당신은 왕복오래달리기를 몇 회 하실 수 있으십니까?'],
         ['당신은 10M 4회 왕복달리기를 몇 초 이내에 하실 수 있으십니까?'],
         ['당신은 제자리멀리뛰기를 몇 cm 하실 수 있으십니까?'],
         ['당신은 윗몸일으키기를 몇 회 하실 수 있으십니까?'],
         ['당신은 악력 운동을 잘하신다고 생각하십니까?'],
         ['당신은 유산소 운동을 잘하신다고 생각하십니까?'],
         ['당신은 유연성을 요구하는 운동을 잘하신다고 생각하십니까?'],
         ['당신은 민첩성을 요구하는 운동을 잘하신다고 생각하십니까?'],
         ['당신은 체공시간이 길다고 생각하십니까?'],
         ]
질문df=pd.DataFrame(질문_list,columns=['질문'])
질문df

                                      질문
0           당신은 왕복오래달리기를 몇 회 하실 수 있으십니까?
1  당신은 10M 4회 왕복달리기를 몇 초 이내에 하실 수 있으십니까?
2          당신은 제자리멀리뛰기를 몇 cm 하실 수 있으십니까?
3            당신은 윗몸일으키기를 몇 회 하실 수 있으십니까?
4               당신은 악력 운동을 잘하신다고 생각하십니까?
5              당신은 유산소 운동을 잘하신다고 생각하십니까?
6        당신은 유연성을 요구하는 운동을 잘하신다고 생각하십니까?
7        당신은 민첩성을 요구하는 운동을 잘하신다고 생각하십니까?

In [24]:
import sqlalchemy as sa
from sqlalchemy import create_engine

dtyp = {}

for column in 질문df.columns:
    if 질문df[column].dtype == 'object':
        dtyp[column] = sa.types.VARCHAR(질문df[column].astype(str).str.len().max())
    elif 질문df[column].dtype in ['float', 'float64']:
        dtyp[column] = sa.FLOAT

In [25]:
engine = create_engine("oracle+cx_oracle://AI:0000@localhost:1521/XE")
질문df.to_sql('my_questions_table', engine ,index=False, dtype=dtyp)
engine.dispose()

In [112]:
from sqlalchemy import create_engine, text
engine = create_engine("oracle+cx_oracle://AI:0000@localhost:1521/XE")
check = pd.read_sql_query(text("select * from 남21 "), con=engine.connect())
print(check.shape)
engine.dispose() 
check

(13, 4)

                 구분         q30         q50         q70
0            신장(cm)  173.000000  175.400000  178.000000
1            체중(kg)   70.400000   75.200000   82.600000
2           체지방율(%)   15.700000   19.000000   24.200000
3          허리둘레(cm)   78.435539   83.000000   87.741809
4         BMI(kg/㎡)   23.100000   24.400000   26.400000
5           상대악력(%)   57.000000   61.900000   67.300000
6       교차윗몸일으키기(회)   43.000000   48.000000   53.000000
7        왕복오래달리기(회)   39.000000   50.000000   61.000000
8    스텝검사출력(VO₂max)   44.000000   46.328355   48.900000
9    앉아윗몸앞으로굽히기(cm)    5.300000   10.400000   14.700000
10  10M_4회_왕복달리기(초)   10.270000   10.670000   11.280000
11          전신반응(초)    0.304000    0.323000    0.343000
12      제자리멀리뛰기(cm)  205.000000  216.000000  229.000000

In [115]:
int(check['q30'][check['구분']=='왕복오래달리기(회)'].values)

39

In [124]:
check['구분'].unique()

array(['신장(cm)', '체중(kg)', '체지방율(%)', '허리둘레(cm)', 'BMI(kg/㎡)', '상대악력(%)',
       '교차윗몸일으키기(회)', '왕복오래달리기(회)', '스텝검사출력(VO₂max)', '앉아윗몸앞으로굽히기(cm)',
       '10M_4회_왕복달리기(초)', '전신반응(초)', '제자리멀리뛰기(cm)'], dtype=object)

In [8]:
q30=11

a=f'1. {q30} 미만'
b=f'2. {q30} 이상 {q50} 미만'
c=f'3. {q50} 이상 {q70} 미만'
d=f'4. {q70} 이상'

'1. 11 미만'

In [ ]:
aa=f'당신은 {col2}를 잘한다고 생각하십니까?'
aa=f'1. 전혀 잘하지 못한다'
bb=f'2. 보통이다'
cc=f'3. 잘한다'
dd=f'4. 매우 잘한다'

In [18]:
def 질문지출력(check,성별,나이):
    col_list=['왕복오래달리기(회)','10M_4회_왕복달리기(초)','제자리멀리뛰기(cm)','교차윗몸일으키기(회)']
    입력값_list=[]
    for col in col_list:
        print(f'당신은 {col}를 어느 정도 하실 수 있으십니까?')
        q30=check['q30'][check['구분']==col].values[0]
        q50=check['q50'][check['구분']==col].values[0]
        q70=check['q70'][check['구분']==col].values[0]
        a=f'1. {q30} 미만'
        b=f'2. {q30} 이상 {q50} 미만'
        c=f'3. {q50} 이상 {q70} 미만'
        d=f'4. {q70} 이상'

        입력값_list.append([a,b,c,d])
        
    col_list2=['상대악력(%)','스텝검사출력(VO₂max)','앉아윗몸앞으로굽히기(cm)','전신반응(초)']    
    for col2 in col_list2:
        aa=f'1. 전혀 잘하지 못한다'
        bb=f'2. 보통이다'
        cc=f'3. 잘한다'
        dd=f'4. 매우 잘한다'
        입력값_list.append([aa,bb,cc,dd])
    # 입력값_list.append(np.nan,np.nan,np.nan)    
    return  입력값_list

In [17]:
def sql_호출(성별,나이):
    
    from sqlalchemy import create_engine, text
    import cx_Oracle
    engine = create_engine("oracle+cx_oracle://AI:0000@localhost:1521/XE")
    table_name=str(성별)+str(나이)
    # print(table_name)
    check = pd.read_sql_query(text(f"select * from {table_name}"), con=engine.connect())
    engine.dispose()
     
    
    사용자입력값_list=질문지출력(check,성별,나이)
    # print(type(사용자입력값_list))
    
    return 사용자입력값_list
    # conn= cx_Oracle.connect("ai","0000", "localhost:1521/XE")
    # sql ="INSERT INTO 사용자입력값(NAME,SEX,AGE,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8) VALUES(:1, :2,:3,:4,:5,:6,:7,:8,:9,:10,:11)"
    # cur= conn.cursor()
    # cur.execute(sql,사용자입력값_list) 
    # conn.commit()
    # cur.close()
    # conn.close()

In [19]:
for i in range(1):
    # 이름=input('당신의 이름은 ? :')
    성별=input('당신의 성별은? :')
    나이=int(input('당신의 나이는(19-39) ? :'))
    sql=sql_호출(성별,나이)
    print(sql)

당신의 성별은? : 여
당신의 나이는(19-39) ? : 23

당신은 왕복오래달리기(회)를 어느 정도 하실 수 있으십니까?
당신은 10M_4회_왕복달리기(초)를 어느 정도 하실 수 있으십니까?
당신은 제자리멀리뛰기(cm)를 어느 정도 하실 수 있으십니까?
당신은 교차윗몸일으키기(회)를 어느 정도 하실 수 있으십니까?
[['1. 24.0 미만', '2. 24.0 이상 35.0 미만', '3. 35.0 이상 37.0 미만', '4. 37.0 이상'], ['1. 10.52 미만', '2. 10.52 이상 10.65 미만', '3. 10.65 이상 11.14 미만', '4. 11.14 이상'], ['1. 170.0 미만', '2. 170.0 이상 172.0 미만', '3. 172.0 이상 183.0 미만', '4. 183.0 이상'], ['1. 35.0 미만', '2. 35.0 이상 37.0 미만', '3. 37.0 이상 38.0 미만', '4. 38.0 이상'], ['1. 전혀 잘하지 못한다', '2. 보통이다', '3. 잘한다', '4. 매우 잘한다'], ['1. 전혀 잘하지 못한다', '2. 보통이다', '3. 잘한다', '4. 매우 잘한다'], ['1. 전혀 잘하지 못한다', '2. 보통이다', '3. 잘한다', '4. 매우 잘한다'], ['1. 전혀 잘하지 못한다', '2. 보통이다', '3. 잘한다', '4. 매우 잘한다']]

In [21]:
sql[4]

['1. 전혀 잘하지 못한다', '2. 보통이다', '3. 잘한다', '4. 매우 잘한다']

In [218]:
idc={'name':['서예림','이현이'],'sex':['남','여'],'age':[24,34],'Q1':[3,2],'Q2':[4,2],'Q3':[4,1],'Q4':[3,2],'Q5':[2,1],'Q6':[4,2],'Q7':[1,3],'Q8':[4,2],'q0_cnt':[1,2],'q30_cnt':[2,4],
     'q50_cnt':[3,2],'q70_cnt':[2,2],'등급판정':['1등급','3등급']}

In [219]:
사용자입력값=pd.DataFrame(idc)
사용자입력값

,name,sex,age,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,q0_cnt,q30_cnt,q50_cnt,q70_cnt,등급판정
0,서예림,남,24,3,4,4,3,2,4,1,4,1,2,3,2,1등급
1,이현이,여,34,2,2,1,2,1,2,3,2,2,4,2,2,3등급

In [220]:
# import sqlalchemy as sa
# from sqlalchemy import create_engine

# dtyp = {}

# for column in 사용자입력값.columns:
#     if 사용자입력값[column].dtype == 'object':
#         dtyp[column] = sa.types.VARCHAR(사용자입력값[column].astype(str).str.len().max())
#     elif 사용자입력값[column].dtype in ['float', 'float64']:
#         dtyp[column] = sa.FLOAT

In [221]:
# engine = create_engine("oracle+cx_oracle://AI:0000@localhost:1521/XE")
# 사용자입력값.to_sql('사용자입력값', engine ,index=False, dtype=dtyp)
# engine.dispose()

In [3]:
import pandas as pd

total_seoul=pd.read_csv('./datasets/total_seoul.csv')
total_seoul.head(1)

,회원일련번호값,측정일자,측정일련번호,센터명,측정연령수,기존나이구간,추가나이구간,인증구분명,성별구분코드,신장(cm),...,왕복오래달리기(회),스텝검사출력(VO₂max),심폐지구력등급,앉아윗몸앞으로굽히기(cm),10M_4회_왕복달리기(초),전신반응(초),제자리멀리뛰기(cm),준비운동,본운동,마무리운동
0,AAHqSyC0tCo0Z6IOUnO2+tWk,20221006,2,강북,31.0,30대초반,30대초반,4,남,165.5,...,NaN,41.0,3,10.0,NaN,0.377,170.0,"상지루틴스트레칭,하지루틴스트레칭1,엎드려버티기,앉았다일어서기,누워서엉덩이들어올리기,...","상지루틴스트레칭,하지루틴스트레칭1,엎드려버티기,앉았다일어서기,누워서엉덩이들어올리기,...","상지루틴스트레칭,하지루틴스트레칭1,엎드려버티기,앉았다일어서기,누워서엉덩이들어올리기,..."

In [5]:
total_seoul[['준비운동','본운동','마무리운동']].head(5)

,준비운동,본운동,마무리운동
0,"상지루틴스트레칭,하지루틴스트레칭1,엎드려버티기,앉았다일어서기,누워서엉덩이들어올리기,...","상지루틴스트레칭,하지루틴스트레칭1,엎드려버티기,앉았다일어서기,누워서엉덩이들어올리기,...","상지루틴스트레칭,하지루틴스트레칭1,엎드려버티기,앉았다일어서기,누워서엉덩이들어올리기,..."
1,"유산소운동전동적루틴스트레칭,하지루틴스트레칭1,상지루틴스트레칭,좌식생활자를위한동적루틴...","앉아서다리밀기,앉아서다리펴기,앉아서다리굽히기,누워서밀기,앉아서모으기,앉아서위로밀기,...","목스트레칭,등/어깨뒤쪽스트레칭,아래팔스트레칭,허리스트레칭,배스트레칭,엉덩이스트레칭,..."
2,"상지루틴스트레칭,하지루틴스트레칭1,엎드려버티기,앉았다일어서기,누워서엉덩이들어올리기,...","상지루틴스트레칭,하지루틴스트레칭1,엎드려버티기,앉았다일어서기,누워서엉덩이들어올리기,...","상지루틴스트레칭,하지루틴스트레칭1,엎드려버티기,앉았다일어서기,누워서엉덩이들어올리기,..."
3,"유산소운동전동적루틴스트레칭,하지루틴스트레칭1,상지루틴스트레칭,좌식생활자를위한동적루틴...","앉아서다리밀기,앉아서다리펴기,앉아서다리굽히기,누워서밀기,앉아서모으기,앉아서위로밀기,...","목스트레칭,등/어깨뒤쪽스트레칭,아래팔스트레칭,허리스트레칭,배스트레칭,엉덩이스트레칭,..."
4,"상지루틴스트레칭,하지루틴스트레칭1,엎드려버티기,앉았다일어서기,누워서엉덩이들어올리기,...","상지루틴스트레칭,하지루틴스트레칭1,엎드려버티기,앉았다일어서기,누워서엉덩이들어올리기,...","상지루틴스트레칭,하지루틴스트레칭1,엎드려버티기,앉았다일어서기,누워서엉덩이들어올리기,..."