<font size=6><b>한줄표현 --- optional

# for문 한줄 표현식
<pre><font size=2><b>
for n in [1,2,3] :
    처리부
</b></font> 
[  처리부  for n in [1,2,3]    ]

In [1]:
mysum = 0
for n in [1,2,3,4] :
    mysum = mysum + n
print(mysum)

10

In [2]:
# frames = [ process_your_file(f) for f in files ]
[  print(n) for n in [1,2,3,4]  ]

1
2
3
4

[None, None, None, None]

# for + for

<pre><font size=2><b>
for a in [1,2,3] :
    for z in [1,2,3] :
        처리부
</b></font> 
[  처리부  for a in [1,2,3] for z in [1,2,3]     ]

In [3]:
for dan in [2,3,4]:
    for gob in [1,2,3,4] :
        print(dan, "*", gob)

2 * 1
2 * 2
2 * 3
2 * 4
3 * 1
3 * 2
3 * 3
3 * 4
4 * 1
4 * 2
4 * 3
4 * 4

In [4]:
[print(dan, "*", gob) for dan in [2,3,4] for gob in [1,2,3,4] ]

2 * 1
2 * 2
2 * 3
2 * 4
3 * 1
3 * 2
3 * 3
3 * 4
4 * 1
4 * 2
4 * 3
4 * 4

[None, None, None, None, None, None, None, None, None, None, None, None]

# if문 한줄 표현식


<pre><font size=2><b>
if score < 90 :
    처리부if
else :
    처리부else
</b></font> 

처리부if  if score < 90 else 처리부else

In [5]:
score = 80
if score < 90 :
    print("작다")
else :
    print("크다")

작다

In [6]:
score = 80
print("작다" if score < 90 else '크다' )

작다

<pre>
처리부if if score < 90 else ( 처리부elif if  score < 80 else 처리부else  )

if score < 90 :
    처리부if
elif  score < 80 :
    처리부elif
else :
    처리부else

In [7]:
score = 80
if score < 90 :
    print("B")
elif  score < 80 :
    print("C")
else :
    print("D")

B

In [8]:
score = 80
print("B" if score < 90 else ("C" if  score < 80 else "D" )  )

B

# for  + if

<pre><font size=2><b>
for n in [1,2,3] :
    if n == 2:
        print("이")
</b></font> 

맨앞으로보내고  다다다닥 한줄 앞뒤로 대괄호
[ print("이") for n in [1,2,3] if n == 2 ]

In [9]:
for n in [1,2,3] :
    if n == 2:
        print("이")

이

In [10]:
[ print("이") for n in [1,2,3]  if n == 2 ]

이

[None]

# for + if else

<pre><font size=2><b>
for n in [1,2,3] :
    if n == 2:
        print("이")
    else:
        print("그외")
</b></font>    
[ 덩어리 for n in [1,2,3]  ]
한번더...

덩어리는 아래 문법
    if n == 2:
        print("이")
    else:
        print("그외")
이걸 한줄 표현        
        print("이") if n == 2 else print("그외")
    
즉..
[ (덩어리)                                   for n in [1,2,3]  ]
[ (print("이") if n == 2 else print("그외")) for n in [1,2,3]  ]

In [11]:
for n in [1,2,3] :
    if n == 2:
        print("이")
    else:
        print("그외")

그외
이
그외

In [12]:
[ print("이") if n == 2 else print("그외") for n in [1,2,3] ]

그외
이
그외

[None, None, None]

# ★람다(lambda)
* <font size=4 color=red><b> (lambda 파라미터 : 표현식)</b></font>
* 이름없는 1회성 사용 함수 , 한줄표현식으로 표현
* 사용예  <br>

<pre>
<font size=2><b> (lambda a,b : a+b) (5,7)

<font size=2><b> aaa= (lambda a,b : a+b)    
 aaa (5,7)

In [13]:
def add(a, b):
    return a+b

add(4,5)

9

In [14]:
aaa = (lambda a,b : a+b)
aaa

In [15]:
aaa(5,7)

12

In [16]:
(lambda a,b : a+b) (5,7)

12

* 람다 사용 예 - 1

In [17]:
def score_check함수명(score) :
    if score > 90:
        return '1'
    else : 
        return '0'
score_check함수명(70)

'0'

In [18]:
# lambda score : __________________

(lambda score : '1' if score > 90 else '0') (100)

'1'

In [19]:
score_check_변수명 = (lambda score : '1' if score > 90 else '0')
score_check_변수명 (80)

'0'

* 람다 사용 예 - 2

In [20]:
def score_check함수명(score) :
    if score > 90:
        return '1'
    else : 
        return '0'

In [21]:
( lambda x : score_check함수명(x) ) (99)

'1'

# map (lambda함수, 리스트)
* list(   map (lambda함수, 리스트)  )

In [22]:
( lambda x : x+10 ) (1)

11

In [23]:
aaa = ( lambda x : x+10 ) 
aaa(1)

11

In [24]:
list(   map( lambda x : x+10 ,  [1,2,3,4])      )

[11, 12, 13, 14]

In [25]:
MYMAP = map( lambda x : x+10 ,  [1,2,3,4]) 
MYMAP

In [26]:
list( MYMAP )

[11, 12, 13, 14]

# QUIZ

<pre>
람다식을 사용해 다음 연락처 앞자리를 활용해 지역명을 출력하시오.
tel_list = ["02-222-3333", "032-222-3333","032-222-3333","031-222-3333"]
02  :  서울
032 : 인천
031 : 경기

In [27]:
tel_list = ["02-222-3333", "032-222-3333","032-222-3333","031-222-3333"]
tel_list

['02-222-3333', '032-222-3333', '032-222-3333', '031-222-3333']

* 해결1 )  단순 함수 정의 후 호출

In [28]:
# (lambda x : x.split("-") )
def tel_check(tel_list) :
    for tel in tel_list:
        loc_tel = tel.split("-")[0]
        loc = "그외"
        if loc_tel == '02' :
            loc = "서울"
        elif loc_tel == '032' :
            loc = "인천"
        elif loc_tel == '031' :
            loc = "경기"
        print(loc_tel, loc)
tel_check(["02-222-3333", "032-222-3333","032-222-3333","031-222-3333"])

02 서울
032 인천
032 인천
031 경기

* 해결2 )  람다 + 사용자정의함수
* (lambda x : 사용자정의함수(x))

In [29]:
# (lambda x : x + 10) (10)
prm_list = ["02-222-3333", "032-222-3333","032-222-3333","031-222-3333"]
(lambda x : tel_check(x)  ) (prm_list)

02 서울
032 인천
032 인천
031 경기

* 해결3 )  list( map (lambda함수, 리스트) )

In [30]:
def tel_check(tel) :
    loc_tel = tel.split("-")[0]
    loc = "그외"
    if loc_tel == '02' :
        loc = "서울"
    elif loc_tel == '032' :
        loc = "인천"
    elif loc_tel == '031' :
        loc = "경기"
    return loc, loc_tel
        
prm_list = ["02-222-3333", "032-222-3333","032-222-3333","031-222-3333"]
res = list (  map(  lambda prm : tel_check(prm) , prm_list )   )
print(res)

[('서울', '02'), ('인천', '032'), ('인천', '032'), ('경기', '031')]

# Quiz : 1~100 합 출력

해결책1)

In [31]:
mysum = 0
for n in range(1,101):
    mysum  = mysum + 1
print(mysum)

100

해결책2)

In [32]:
def cacl_sum():
    mysum = 0
    for n in range(1,101):
        mysum  = mysum + n
    print(mysum)
cacl_sum()

5050

# 해결책3) by 영기

In [33]:
def cacl_sum() :
    mysum = 0
    for n in range(1,101):
        mysum  = mysum + n
    print(mysum)

(lambda x :  cacl_sum()) ("아무값")

5050

해결책4)

In [34]:
import numpy as np
np.sum(  [1,2,3] )

6

In [39]:
sum([1,2,3])  #python 내장 함수

6

In [41]:
AA = (  lambda s,e : sum( range(s,e) )   )
AA(1,101)

5050

In [40]:
AA = (  lambda x : sum( range(1,101) )   )
AA('아무값')

5050

In [42]:
np.sum( [x for x in range(1,101)]  )

5050

* 해결책5) 가장 추천

In [43]:
np.sum( range(1,101)  )

5050

* 해결책6) reduce() 누적함수

In [53]:
from functools import reduce
res = reduce ( (lambda s, n : s+n) ,  [n for n in range(1,101) ]  )  
res

5050