# 번외 : 한 줄 표현식

## for 문 한줄 표현식
    * [처리부 for n in [1,2,3]]

 **frames  = [process_your_file(f) for f in files]**  
 >**[1.어떻게 처리할래?(ex.print)               2.for문(순서대로)]**

In [18]:
sum = 0
for n in [1,2,3,4] :
    sum = sum + n
print(sum)

10

In [21]:
for dan in [2,3,4] : 
    for gob in [1,2,3,4] :
        print(dan, "*", gob , " = " , dan*gob)

2 * 1  =  2
2 * 2  =  4
2 * 3  =  6
2 * 4  =  8
3 * 1  =  3
3 * 2  =  6
3 * 3  =  9
3 * 4  =  12
4 * 1  =  4
4 * 2  =  8
4 * 3  =  12
4 * 4  =  16

## for + for

In [24]:
[print(dan, "*", gob , " = " , dan*gob) for dan in [2,3,4] for gob in [1,2,3,4]]

2 * 1  =  2
2 * 2  =  4
2 * 3  =  6
2 * 4  =  8
3 * 1  =  3
3 * 2  =  6
3 * 3  =  9
3 * 4  =  12
4 * 1  =  4
4 * 2  =  8
4 * 3  =  12
4 * 4  =  16

[None, None, None, None, None, None, None, None, None, None, None, None]

## IF문의 한 줄 표현식
    * 1.처리부 2.if 조건식 3.else 처리부
    * []는 안해도 된다. 루프를 도는 것이 아니기 때문에

### 기본

In [6]:
#원래 표현

score = 80 
if score < 90 :
    print("작다")
else :
    print("크다")

작다

In [5]:
#한 줄 표현

score = 80

print("작다" if score < 90 else '크다') #루프 도는게 아니니까 [] 리스트화(범주화..?) 할 필요 없다.

작다

### elif

In [4]:
#원래 표현

score = 80 
if score < 90 :
    print("B")
elif score < 80 :
    print("C")
else :
    print("D")

B

In [3]:
#한 줄 표현

score = 80
print('B' if score < 90 else 'C' if score <80 else 'D')
# else 로 한 if가 끝난다. pandas엔 elif가 없다.

B

## FOR + IF
    - 처리부 맨 앞으로 보내고 뒤에 for if 차례로

for 변수 in [값1,값2,값3,..] :  
    if 조건식 : (for 아래의 덩어리 부분)  
        처리부
        

1. 처리부 for ~ in ~ 먼저 하고
2. for 아래 if 덩어리부분을 앞으로 뺀다.

In [7]:
for n in [1,2,3] :
    if n == 2:
        print("이")

이

In [45]:
["이" for n in [1,2,3] if n == 2] #print는 써도 되고 안써도 되고

['이']

In [47]:
#석영님 코드

[print('이' if n == 2 else '일') for n in [1,2,3]]

일
이
일

[None, None, None]

In [48]:
for n in [1,2,3]:
    if n ==2:
        print("일")
    else :
        print("그 외")

그 외
일
그 외

In [53]:
#서브쿼리처럼 활용하자

[print("일") if n==2 else "그 외" for n in [1,2,3] ]

일

['그 외', None, '그 외']

# 람다(Lambda) : 1회용 함수
    = 한 줄 표현식
    = 이름 없는 함수
    = unknown 함수

## 기본 문법  
    - lambda 파라미터 : 표현식

In [56]:
#보통 함수

def add(a,b):
    return a+b

add(4,5)

9

In [59]:
#람다 함수 : 일회성, 다른 곳에서 import 해서 사용할 수 없다.

lambda a,b : a+b

In [60]:
#람다 정의하기

aaa = (lambda a,b : a+b)
aaa

In [61]:
aaa(5,8)

13

In [67]:
# 결국 이 것도 같은 구조다

(lambda a,b : a+b)(7,2)

9

## 사용 예

In [75]:
def score_check(score) :
    if score > 90 :
        return '합격'
    else :
        return '탈락'
    
score_check(70) #이 때의 람다명은 '함수명'이다.

'탈락'

In [72]:
# 람다 뒤의 표현식은 한 줄로 써야한다.
(lambda score : '합격' if  score > 90 else '탈락')(70)

'탈락'

In [73]:
#람다를 변수지정 해놓으면 다회용으로 쓸 수 있다. 이 때의 정의는 변수일 뿐 함수는 아님

mylamb = (lambda score : '합격' if  score > 90 else '탈락')

In [74]:
mylamb(80)

'탈락'

## 또 다른 사용 예

In [ ]:
def score_check(score) :
    if score > 90 :
        return '합격'
    else :
        return '탈락'
    
score_check(70)

In [79]:
#한 줄 표현이 힘든 경우

(lambda 변수 : score_check(변수))(95)

'합격'

# map (lambda함수, 리스트)

In [80]:
#보통의 람다

(lambda x : x +10)

In [81]:
람다변수 = (lambda x : x +10)
람다변수(1)

11

In [82]:
#list(map(람다함수,리스트))

list(map( lambda x : x +10, [1,2,3,4] ))

[11, 12, 13, 14]

In [85]:
#맵 변수 정의하기

맵변수 = map( lambda x : x +10, [1,2,3,4] )

In [84]:
list(맵변수)

[11, 12, 13, 14]

**Quiz**

In [ ]:
tel = ['02-222-3333','032-222-3333','032-222-3333','031-222-3333']
02 : 서울
032 : 인천
031 : 경기

람다식 사용해서 앞자리 끊었을 때, 서울 인천 경기로 출력되게 해라.

In [27]:
tel_list = ["02-222-3333", "032-222-3333","032-222-3333","031-222-3333"]
tel_list

['02-222-3333', '032-222-3333', '032-222-3333', '031-222-3333']

* 해결1 )  단순 함수 정의 후 호출

In [28]:
# (lambda x : x.split("-") )
def tel_check(tel_list) :
    for tel in tel_list:
        loc_tel = tel.split("-")[0]
        loc = "그외"
        if loc_tel == '02' :
            loc = "서울"
        elif loc_tel == '032' :
            loc = "인천"
        elif loc_tel == '031' :
            loc = "경기"
        print(loc_tel, loc)
tel_check(["02-222-3333", "032-222-3333","032-222-3333","031-222-3333"])

02 서울
032 인천
032 인천
031 경기

* 해결2 )  람다 + 사용자정의함수
* (lambda x : 사용자정의함수(x))

In [29]:
# (lambda x : x + 10) (10)
prm_list = ["02-222-3333", "032-222-3333","032-222-3333","031-222-3333"]
(lambda x : tel_check(x)  ) (prm_list)

02 서울
032 인천
032 인천
031 경기

* 해결3 )  list( map (lambda함수, 리스트) )

In [30]:
def tel_check(tel) :
    loc_tel = tel.split("-")[0]
    loc = "그외"
    if loc_tel == '02' :
        loc = "서울"
    elif loc_tel == '032' :
        loc = "인천"
    elif loc_tel == '031' :
        loc = "경기"
    return loc, loc_tel
        
prm_list = ["02-222-3333", "032-222-3333","032-222-3333","031-222-3333"]
res = list (  map(  lambda prm : tel_check(prm) , prm_list )   )
print(res)

[('서울', '02'), ('인천', '032'), ('인천', '032'), ('경기', '031')]

# Quiz : 1~100 합 출력

In [1]:
range(1,10) #range는 값이 아니라 객체이다.

range(1, 10)

In [3]:
list(range(1,10)) #그러므로 리스트화해서 값을 조회해야한다.

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
r = range(1,10)

해결책1)

In [31]:
mysum = 0
for n in range(1,101):
    mysum  = mysum + 1
print(mysum)

100

해결책2)

In [32]:
def cacl_sum():
    mysum = 0
    for n in range(1,101):
        mysum  = mysum + n
    print(mysum)
cacl_sum()

5050

# 해결책3) by 영기

In [33]:
def cacl_sum() :
    mysum = 0
    for n in range(1,101):
        mysum  = mysum + n
    print(mysum)

(lambda x :  cacl_sum()) ("아무값")

5050

해결책4)

In [34]:
import numpy as np
np.sum(  [1,2,3] )

6

In [39]:
sum([1,2,3])  #python 내장 함수

6

In [41]:
AA = (  lambda s,e : sum( range(s,e) )   )
AA(1,101)

5050

In [40]:
AA = (  lambda x : sum( range(1,101) )   )
AA('아무값')

5050

In [42]:
np.sum( [x for x in range(1,101)]  )

5050

* 해결책5) 가장 추천

In [43]:
np.sum( range(1,101)  )

5050

* 해결책6) reduce() 누적함수

In [53]:
from functools import reduce
res = reduce ( (lambda s, n : s+n) ,  [n for n in range(1,101) ]  )  
res

5050