# Semi-Project

In [1]:
import pandas as pd
import numpy as np
import json
import warnings
warnings.filterwarnings(action='ignore')

In [2]:
######! pip install openpyxl

In [3]:
from bs4 import BeautifulSoup
import requests

# 1. 경제심리지수

In [4]:
eco_df=pd.read_csv('경제심리지수.csv',parse_dates=['변환'])
eco_df.columns=['분기','경제심리지수_원계열','경제심리지수_순환변동치']
eco_df = eco_df.set_index('분기')
eco_df.head()

            경제심리지수_원계열  경제심리지수_순환변동치
분기
2016-01-01        93.4          94.4
2016-02-01        92.1          94.1
2016-03-01        93.8          94.0
2016-04-01        96.6          94.1
2016-05-01        94.8          94.4

In [5]:
eco_df['분기확인'] = eco_df.index.to_period('Q-DEC')
eco_df

            경제심리지수_원계열  경제심리지수_순환변동치    분기확인
분기
2016-01-01        93.4          94.4  2016Q1
2016-02-01        92.1          94.1  2016Q1
2016-03-01        93.8          94.0  2016Q1
2016-04-01        96.6          94.1  2016Q2
2016-05-01        94.8          94.4  2016Q2
...                ...           ...     ...
2022-10-01        95.4          95.9  2022Q4
2022-11-01        91.2          94.5  2022Q4
2022-12-01        91.5          93.1  2022Q4
2023-01-01        90.1          91.8  2023Q1
2023-02-01        91.6          90.6  2023Q1

[86 rows x 3 columns]

In [6]:
eco_df.to_json('경제심리지수.json',orient='columns')

# 2. 생산자물가지수

In [7]:
p_df=pd.read_csv('생산자물가지수.csv',parse_dates=['변환'])
p_df.columns=['분기','총지수']
p_df.head()

        분기     총지수
0  2016/Q1   97.54
1  2016/Q2   97.90
2  2016/Q3   98.12
3  2016/Q4   99.17
4  2017/Q1  101.60

In [8]:
p_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   분기      28 non-null     object
 1   총지수     28 non-null     float64
dtypes: float64(1), object(1)
memory usage: 576.0+ bytes

# 3. 소비자 동향 조사

In [9]:
c_df=pd.read_csv('소비자동향조사.csv',parse_dates=['변환'])
c_df.columns=['분기','소비자심리지수']
c_df = c_df.set_index('분기')
c_df.head()

            소비자심리지수
분기
2016-01-01    100.4
2016-02-01     98.2
2016-03-01    100.4
2016-04-01    102.0
2016-05-01     99.6

In [10]:
c_df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 86 entries, 2016-01-01 to 2023-02-01
Data columns (total 1 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   소비자심리지수  86 non-null     float64
dtypes: float64(1)
memory usage: 1.3 KB

In [11]:
c_df.to_json('소비자동향조사_total.json',orient='columns')

## 3-1 소비자 동향 조사_ 취업기회전망

In [12]:
cj_df=pd.read_csv('소비자동향조사(전국, 월, 2008.9_)_취업기회전망.csv',parse_dates=['변환'])
cj_df.columns=['분기','남자','여자','40세미만','40-50세','50-60세','60-70세','70세이상','봉급생활자','자영업자', '100만원미만','100-200만원','200-300만원','300-400만원','400-500만원','500만원이상','자가','임차']
cj_df = cj_df.set_index('분기')
cj_df.head()

,남자,여자,40세미만,40-50세,50-60세,60-70세,70세이상,봉급생활자,자영업자,100만원미만,100-200만원,200-300만원,300-400만원,400-500만원,500만원이상,자가,임차
분기,,,,,,,,,,,,,,,,,
2016-01-01,76,81,70,75,78,82,88,73,79,84,81,74,78,73,75,78,74
2016-02-01,78,79,75,77,75,82,90,76,80,79,82,73,82,77,76,79,76
2016-03-01,78,81,75,79,78,81,90,77,78,82,82,79,75,79,78,80,77
2016-04-01,82,81,76,82,81,86,94,81,80,83,82,80,81,84,82,82,80
2016-05-01,73,77,68,72,74,78,85,71,76,74,80,71,73,73,72,74,72

In [13]:
cj_df.to_json('소비자동향조사_취업전망.json',orient='columns')

## 3-2 소비자동향조사_향후경기전망

In [14]:
ck_df=pd.read_csv('소비자동향조사(전국, 월, 2008.9_)_향후경기전망.csv',parse_dates=['변환'])
ck_df.columns=['분기','남자','여자','40세미만','40-50세','50-60세','60-70세','70세이상','봉급생활자','자영업자', '100만원미만','100-200만원','200-300만원','300-400만원','400-500만원','500만원이상','자가','임차']
ck_df = ck_df.set_index('분기')
ck_df.head()

,남자,여자,40세미만,40-50세,50-60세,60-70세,70세이상,봉급생활자,자영업자,100만원미만,100-200만원,200-300만원,300-400만원,400-500만원,500만원이상,자가,임차
분기,,,,,,,,,,,,,,,,,
2016-01-01,77,86,77,78,78,80,84,77,78,83,78,77,80,78,77,78,78
2016-02-01,75,79,76,74,74,76,79,74,74,79,77,74,77,75,74,75,76
2016-03-01,81,85,82,80,83,82,84,81,82,85,84,81,80,83,82,83,81
2016-04-01,85,87,83,84,86,91,90,85,83,87,87,84,86,86,85,86,85
2016-05-01,80,84,78,78,81,83,89,78,81,86,84,78,82,79,78,81,78

In [15]:
ck_df.to_json('소비자동향조사_향후경기전망.json',orient='columns')

## 3-3 소비자동향조사_현재생활형편

In [16]:
cs_df=pd.read_csv('소비자동향조사(전국, 월, 2008.9_)_현재생활형편.csv',parse_dates=['변환'])
cs_df.columns=['분기','남자','여자','40세미만','40-50세','50-60세','60-70세','70세이상','봉급생활자','자영업자', '100만원미만','100-200만원','200-300만원','300-400만원','400-500만원','500만원이상','자가','임차']
cs_df = cs_df.set_index('분기')
cs_df.head(2)

,남자,여자,40세미만,40-50세,50-60세,60-70세,70세이상,봉급생활자,자영업자,100만원미만,100-200만원,200-300만원,300-400만원,400-500만원,500만원이상,자가,임차
분기,,,,,,,,,,,,,,,,,
2016-01-01,91,89,92,91,87,92,89,92,85,80,84,87,93,93,97,91,88
2016-02-01,90,87,92,91,87,87,88,93,81,78,85,84,91,94,97,90,89

In [17]:
cs_df.to_json('소비자동향조사_생활형편.json',orient='columns')

## 3-4 소비자 동향 조사_현재가계부채

In [18]:
cb_df=pd.read_csv('소비자동향조사(전국, 월, 2008.9_)_현재가계부채.csv',parse_dates=['변환'])
cb_df.columns=['분기','남자','여자','40세미만','40-50세','50-60세','60-70세','70세이상','봉급생활자','자영업자', '100만원미만','100-200만원','200-300만원','300-400만원','400-500만원','500만원이상','자가','임차']
cb_df = cb_df.set_index('분기')
cb_df.head(2)

,남자,여자,40세미만,40-50세,50-60세,60-70세,70세이상,봉급생활자,자영업자,100만원미만,100-200만원,200-300만원,300-400만원,400-500만원,500만원이상,자가,임차
분기,,,,,,,,,,,,,,,,,
2016-01-01,104,105,105,106,104,101,100,103,111,106,108,109,104,102,99,104,105
2016-02-01,104,101,103,106,104,101,98,102,110,104,107,107,102,101,101,104,103

In [19]:
cb_df.to_json('소비자동향조사_현재가계부채.json',orient='columns')

# 4. 소비자 물가지수

In [20]:
cs_df=pd.read_csv('소비자물가지수.csv',parse_dates=['변환'])
cs_df.columns=['분기','총지수']
cs_df.head()

        분기     총지수
0  2016/Q1  95.422
1  2016/Q2  95.605
2  2016/Q3  95.785
3  2016/Q4  96.319
4  2017/Q1  97.521

# 5. 예금은행 대출금

In [21]:
bank_df=pd.read_csv('예금은행 대출금(말잔).csv',  thousands=',',parse_dates=['변환'])
bank_df.columns=['분기','총대출금'] #단위: 십억원
bank_df.head()

        분기       총대출금
0  2016/Q1  1361310.2
1  2016/Q2  1387028.0
2  2016/Q3  1414232.0
3  2016/Q4  1424149.2
4  2017/Q1  1435859.5

In [22]:
bank_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   분기      28 non-null     object
 1   총대출금    28 non-null     float64
dtypes: float64(1), object(1)
memory usage: 576.0+ bytes

# 6. 예금은행 대출금리(잔액기준)

In [23]:
bank_gum_df=pd.read_csv('예금은행 대출금리(잔액 기준).csv',parse_dates=['변환'])
bank_gum_df.columns=['분기','기업대출','가계대출'] # 연리(%)
bank_gum_df.head()

        분기  기업대출  가계대출
0  2016/Q1  3.68  3.33
1  2016/Q2  3.60  3.27
2  2016/Q3  3.49  3.18
3  2016/Q4  3.53  3.18
4  2017/Q1  3.55  3.22

# 7. 예금은행 원화예금(종별, 말잔)

In [24]:
won_df=pd.read_csv('예금은행 원화예금(종별, 말잔).csv',thousands=',',parse_dates=['변환'])
won_df.columns=['분기','총예금'] #단위: 십억원
won_df.head()

        분기        총예금
0  2016/Q1  1018104.0
1  2016/Q2  1031405.1
2  2016/Q3  1042841.7
3  2016/Q4  1061034.4
4  2017/Q1  1062069.9

In [25]:
won_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   분기      28 non-null     object
 1   총예금     28 non-null     float64
dtypes: float64(1), object(1)
memory usage: 576.0+ bytes

# 8. 주식시장

*********

In [26]:
stock_df=pd.read_csv('주식시장.csv',thousands=',',parse_dates=['변환'])
stock_df.columns=['분기','KOSPI_거래량','KOSPI_거래대금'] # 단위: 주/ 천원
stock_df = stock_df.set_index('분기')
stock_df.head()

             KOSPI_거래량    KOSPI_거래대금
분기
2016-01-01  7301544849   95483140006
2016-02-01  6189329878   82859217791
2016-03-01  7747195885   97482610318
2016-04-01  7973516371   94093322393
2016-05-01  9650547747  100721933795

In [27]:
stock_df.to_json('주식시장.json',orient='columns')

* ref : https://okky.kr/articles/1158227

In [28]:
import pandas as pd

q_start_list = pd.date_range('2019-01-01', periods =4, freq = 'QS' ) # or freq = '3D'
q_end_list    = pd.date_range('2019-01-01', periods =4, freq = 'Q' ) # or freq = '3D'
print(q_start_list)
print(q_end_list)

DatetimeIndex(['2019-01-01', '2019-04-01', '2019-07-01', '2019-10-01'], dtype='datetime64[ns]', freq='QS-JAN')
DatetimeIndex(['2019-03-31', '2019-06-30', '2019-09-30', '2019-12-31'], dtype='datetime64[ns]', freq='Q-DEC')

In [29]:
sdf = pd.DataFrame({"bank":"kb", "rate":100} , index=pd.date_range('2019-01-01', '2019-12-31'))
sdf.shape

(365, 2)

In [30]:
# sdf.loc['2019-01-01':  '2019-03-31'].cumsum()[-1:]
# sdf.loc['2019-04-01':  '2019-06-30'].cumsum()[-1:]

In [31]:
for i, dval in enumerate(q_start_list):
    # print(i, dval)
    # print(q_start_list[i], q_end_list[i] )
    print( sdf['rate'].loc[q_start_list[i]:  q_end_list[i]].cumsum()[-1:] )

2019-03-31    9000
Freq: D, Name: rate, dtype: int64
2019-06-30    9100
Freq: D, Name: rate, dtype: int64
2019-09-30    9200
Freq: D, Name: rate, dtype: int64
2019-12-31    9200
Freq: D, Name: rate, dtype: int64

# 9. 한국은행 기준금리 및 여수신금리

In [32]:
han_df=pd.read_csv('한국은행 기준금리 및 여수신금리.csv',parse_dates=['변환'])
han_df.columns=['분기','한국은행_기준금리'] #연(%)
han_df.head()

        분기  한국은행_기준금리
0  2016/Q1       1.50
1  2016/Q2       1.25
2  2016/Q3       1.25
3  2016/Q4       1.25
4  2017/Q1       1.25

In [55]:
han_df.to_json

<bound method NDFrame.to_json of          분기  한국은행_기준금리
0   2016/Q1       1.50
1   2016/Q2       1.25
2   2016/Q3       1.25
3   2016/Q4       1.25
4   2017/Q1       1.25
5   2017/Q2       1.25
6   2017/Q3       1.25
7   2017/Q4       1.50
8   2018/Q1       1.50
9   2018/Q2       1.50
10  2018/Q3       1.50
11  2018/Q4       1.75
12  2019/Q1       1.75
13  2019/Q2       1.75
14  2019/Q3       1.50
15  2019/Q4       1.25
16  2020/Q1       0.75
17  2020/Q2       0.50
18  2020/Q3       0.50
19  2020/Q4       0.50
20  2021/Q1       0.50
21  2021/Q2       0.50
22  2021/Q3       0.75
23  2021/Q4       1.00
24  2022/Q1       1.25
25  2022/Q2       1.75
26  2022/Q3       2.50
27  2022/Q4       3.25>

# 10. 한국은행 기준금리 및 여수신금리(월별)

In [33]:
han_m_df=pd.read_csv('한국은행 기준금리 및 여수신금리(월별).csv',parse_dates=['변환'])
han_m_df.columns=['분기','한국은행_기준금리(월)'] #연(%)
han_m_df = han_m_df.set_index('분기')
han_m_df.head()

            한국은행_기준금리(월)
분기
2016-01-01           1.5
2016-02-01           1.5
2016-03-01           1.5
2016-04-01           1.5
2016-05-01           1.5

# 최종 DataFrame

In [34]:
df = han_df.copy()
df.index = df['분기']
# df = df.drop('분기',axis=1)

In [35]:
SSS =  round(eco_df.resample('Q-DEC', kind='period')['경제심리지수_순환변동치'].mean(),2)

In [36]:
A=SSS.tolist()[0:28]  #182.39999999999998

In [37]:
df['경제심리지수_순환변동치']=A

In [38]:
SSS1 =  round(eco_df.resample('Q-DEC', kind='period')['경제심리지수_원계열'].mean(),2).tolist()[0:28]
df['경제심리지수_원계열']=SSS1

In [39]:
SSS2 =  round(c_df.resample('Q-DEC', kind='period')['소비자심리지수'].mean(),2).tolist()[0:28]

In [40]:
df['소비자심리지수']=SSS2

In [41]:
df['생산자_물가지수']=p_df['총지수'].tolist()

In [42]:
df['소비자_물가지수']=round(cs_df['총지수'],2).tolist()

In [43]:
df['예금은행_대출금(십억원)']=bank_df['총대출금'].tolist()

In [44]:
df['대출금리_기업']=bank_gum_df['기업대출'].tolist()

In [45]:
df['대출금리_가계']=bank_gum_df['가계대출'].tolist()

In [46]:
# df=df.drop(['예금은행_대출금리_기업','예금은행_대출금리_가계'],axis=1)

In [47]:
df['예금은행_원화예금(십억원)']=won_df['총예금'].tolist()

In [48]:
SSS3 =  stock_df.resample('Q-DEC', kind='period')['KOSPI_거래량'].sum().tolist()[0:28]

In [49]:
SSS4 =  stock_df.resample('Q-DEC', kind='period')['KOSPI_거래대금'].sum().tolist()[0:28]

In [50]:
df['KOSPI_거래량(주/천원)']=SSS3

In [51]:
df['KOSPI_거래대금(주/천원)']=SSS4

In [52]:
df=df.drop('분기',axis=1)

In [53]:
df.head()

,한국은행_기준금리,경제심리지수_순환변동치,경제심리지수_원계열,소비자심리지수,생산자_물가지수,소비자_물가지수,예금은행_대출금(십억원),대출금리_기업,대출금리_가계,예금은행_원화예금(십억원),KOSPI_거래량(주/천원),KOSPI_거래대금(주/천원)
분기,,,,,,,,,,,,
2016/Q1,1.50,94.17,93.10,99.67,97.54,95.42,1361310.2,3.68,3.33,1018104.0,21238070612,275824968115
2016/Q2,1.25,94.47,95.27,100.27,97.90,95.60,1387028.0,3.60,3.27,1031405.1,27439407152,304003734303
2016/Q3,1.25,95.73,96.87,101.97,98.12,95.78,1414232.0,3.49,3.18,1042841.7,24724975705,271285924423
2016/Q4,1.25,96.63,95.07,97.53,99.17,96.32,1424149.2,3.53,3.18,1061034.4,19283587623,261554105428
2017/Q1,1.25,97.63,97.83,94.93,101.60,97.52,1435859.5,3.55,3.22,1062069.9,24423254736,282479498540

In [54]:
df.to_json('semi_df.json',orient='columns')