In [ ]:
# 월납부요금,시간,횟수 생성 합본

In [ ]:
traincp = train.copy()

In [ ]:
traincp = traincp[['총통화요금','가입기간월','총통화시간','총통화횟수']]

In [ ]:
traincp['월납부요금'] = 1
traincp['월통화시간'] = 1
traincp['월통화횟수'] = 1

In [ ]:
for i in range(len(traincp)):
    if traincp['가입기간월'].iloc[i] ==0.0 :
        traincp['월납부요금'].iloc[i] = traincp['총통화요금'].iloc[i]
        traincp['월통화시간'].iloc[i] = traincp['총통화시간'].iloc[i]
        traincp['월통화횟수'].iloc[i] = traincp['총통화횟수'].iloc[i]
    else :
        traincp['월납부요금'].iloc[i] = traincp['총통화요금'].iloc[i]/traincp['가입기간월'].iloc[i]  
        traincp['월통화시간'].iloc[i] = traincp['총통화시간'].iloc[i]/traincp['가입기간월'].iloc[i]
        traincp['월통화횟수'].iloc[i] = traincp['총통화횟수'].iloc[i]/traincp['가입기간월'].iloc[i]

In [ ]:
traincp.head()

    총통화요금  가입기간월  총통화시간  총통화횟수       월납부요금       월통화시간       월통화횟수
0   89.11   27.0  630.9    489    3.300370   23.366667   18.111111
1  148.11    0.0  916.1    858  148.110000  916.100000  858.000000
2   75.30    7.0  770.2    973   10.757143  110.028571  139.000000
3   58.36   18.0  658.2    518    3.242222   36.566667   28.777778
4   59.58   18.0  583.3    514    3.310000   32.405556   28.555556

In [ ]:
testcp = test.copy()
testcp = testcp[['총통화요금','가입기간월','총통화시간','총통화횟수']]
testcp.head()

   총통화요금  가입기간월  총통화시간  총통화횟수
0  58.40    9.0  537.5    346
1  67.44   23.0  841.5    281
2  52.74    2.0  561.6    439
3  49.79   17.0  620.5    394
4  64.05   16.0  811.0     80

In [ ]:
testcp['월납부요금'] = 1
testcp['월통화시간'] = 1
testcp['월통화횟수'] = 1

In [ ]:
for i in range(len(testcp)):
  if testcp['가입기간월'].iloc[i] ==0.0 :
    testcp['월납부요금'].iloc[i] = testcp['총통화요금'].iloc[i]
    testcp['월통화시간'].iloc[i] = testcp['총통화시간'].iloc[i]
    testcp['월통화횟수'].iloc[i] = testcp['총통화횟수'].iloc[i]
  else :
    testcp['월납부요금'].iloc[i] = testcp['총통화요금'].iloc[i]/testcp['가입기간월'].iloc[i]  
    testcp['월통화시간'].iloc[i] = testcp['총통화시간'].iloc[i]/testcp['가입기간월'].iloc[i]
    testcp['월통화횟수'].iloc[i] = testcp['총통화횟수'].iloc[i]/testcp['가입기간월'].iloc[i]

In [ ]:
train[['월납부요금','월통화시간','월통화횟수']] = traincp[['월납부요금','월통화시간','월통화횟수']]
test[['월납부요금','월통화시간','월통화횟수']] = testcp[['월납부요금','월통화시간','월통화횟수']]
train.head(), test.head()

(   가입일  음성사서함이용  주간통화시간  주간통화횟수  주간통화요금  저녁통화시간  저녁통화횟수  저녁통화요금  밤통화시간  밤통화횟수  \
 0  329        0    99.2      93    27.3   268.8      68   28.92  262.9    328
 1    2       80   323.9     323    83.7   269.4     326   32.09  322.8    209
 2   93       28   282.4     323    34.2   207.0     322   32.82  280.8    328
 3  223        1   221.4     223    25.1   233.0      61   23.90  203.8    234
 4  222        0    96.3     222    28.7   223.9      69   28.08  263.1    223

    밤통화요금  상담전화건수  전화해지여부  가입기간년  가입기간월  가입기간주   가입월  총통화시간  총통화횟수   총통화요금  \
 0  32.89       2       0      0   27.0    6.0  10.0  630.9    489   89.11
 1  32.32       2       0      0    0.0    0.0   0.0  916.1    858  148.11
 2   8.28       0       0      0    7.0    1.0   3.0  770.2    973   75.30
 3   9.36       0       0      0   18.0    4.0   7.0  658.2    518   58.36
 4   2.80       8       0      0   18.0    4.0   7.0  583.3    514   59.58

       시간당요금     횟수당시간  주간통화시간당요금  저녁통화시간당요금  밤통화시간당요금       월납부요금       월통화시간  \
 0  0.141243  1.290184   0.275202   0.107589  0.125105    3.300370   23.366667
 1  0.161674  1.067716   0.258413   0.119117  0.100124  148.110000  916.100000
 2  0.097767  0.791572   0.121105   0.158551  0.029487   10.757143  110.028571
 3  0.088666  1.270656   0.113369   0.102575  0.045927    3.242222   36.566667
 4  0.102143  1.134825   0.298027   0.125413  0.010642    3.310000   32.405556

         월통화횟수
 0   18.111111
 1  858.000000
 2  139.000000
 3   28.777778
 4   28.555556  ,
    가입일  음성사서함이용  주간통화시간  주간통화횟수  주간통화요금  저녁통화시간  저녁통화횟수  저녁통화요금  밤통화시간  밤통화횟수  \
 0  110        0   210.7     142    35.6   205.9      93   17.43  120.9    111
 1  283        1   268.5     100    30.3   283.0      92   28.32  290.0     89
 2   34        1   243.3     205    21.3   225.7     205   29.00   92.6     29
 3  209       86    83.0      93    24.1   270.6     220   22.89  266.9     81
 4  202        0   293.2      23    31.0   294.0      24   26.39  223.8     33

    밤통화요금  상담전화건수  가입기간년  가입기간월  가입기간주  가입월  총통화시간  총통화횟수  총통화요금     시간당요금  \
 0   5.37       2      0    9.0    2.0  3.0  537.5    346  58.40  0.108651
 1   8.82       0      0   23.0    5.0  9.0  841.5    281  67.44  0.080143
 2   2.44       2      0    2.0    0.0  1.0  561.6    439  52.74  0.093910
 3   2.80       6      0   17.0    4.0  6.0  620.5    394  49.79  0.080242
 4   6.66       2      0   16.0    3.0  6.0  811.0     80  64.05  0.078977

        횟수당시간      월납부요금       월통화시간       월통화횟수
 0   1.553468   6.488889   59.722222   38.444444
 1   2.994662   2.932174   36.586957   12.217391
 2   1.279271  26.370000  280.800000  219.500000
 3   1.574873   2.928824   36.500000   23.176471
 4  10.137500   4.003125   50.687500    5.000000  )

In [ ]:
asdf

NameError: ignored