# **Bike Sharing Demand**

https://www.kaggle.com/competitions/bike-sharing-demand/data

**META DATA**
<pre>

Data Fields


datetime - hourly date + timestamp  
season -  1 = spring, 2 = summer, 3 = fall, 4 = winter 
holiday - whether the day is considered a holiday
workingday - whether the day is neither a weekend nor holiday
weather - 1: Clear, Few clouds, Partly cloudy, Partly cloudy
2: Mist + Cloudy, Mist + Broken clouds, Mist + Few clouds, Mist
3: Light Snow, Light Rain + Thunderstorm + Scattered clouds, Light Rain + Scattered clouds
4: Heavy Rain + Ice Pallets + Thunderstorm + Mist, Snow + Fog 
temp - temperature in Celsius
atemp - "feels like" temperature in Celsius
humidity - relative humidity
windspeed - wind speed
casual - number of non-registered user rentals initiated
registered - number of registered user rentals initiated
count - number of total rentals

datetime - 시간별 날짜 + 타임스탬프  
season - 1 = 봄, 2 = 여름, 3 = 가을, 4 = 겨울 
holiday - 해당 요일을 휴일
workingday - 요일이 주말이나 휴일 날씨가 아닌지
weather
1: 맑음, 약간 구름, 부분 흐림, 부분 흐림
2: 안개 + 흐림, 안개 + 부서진 구름, 안개 + 약간 구름, 안개
3: 가벼운 눈, 약한 비 + 뇌우 + 흩어진 구름, 약한 비 + 흩어진 구름
4: 폭우 + 얼음 팔레트 + 뇌우 + 안개, 눈 + 안개 
temp - 섭씨 온도
atemp - 섭씨 온도
humidity - 상대습도
windspeed - 풍속
casual - 미등록 사용자 대여 시작 수
registered - 등록 사용자 대여 시작
<b>count - 총 대여 수 => Target Feature </b>
</pre>

In [1]:
import numpy as np
import pandas as pd

In [2]:
import warnings
warnings.filterwarnings(action = 'ignore')

In [3]:
tr = pd.read_csv('./train.csv') #로드! np, pd import
tr.columns = tr.columns.str.lower() #작업하기 편하게 컬럼명 소문자로 변경
tr.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1

* 만약에 컬럼 리스트가 있다면..?
>tr.columns = ['컬럼명','컬럼명','컬럼명','컬럼명',..]
 이런식으로 넣어줘도 컬럼은 바뀐다.

다만, 컬럼 갯수는 맞춰야 에러나지 않는다.

* 일반적으로 Data road할 때, 날짜로 변경하지만(parse_dates=['date_time']) 연습을 위해 보류

In [4]:
tr.info()

#결측이 없다. 오브젝트는 있다.

#날짜로 바꿀 수 있지만(parse_dates[]), 연습을 위해 보류
#datetime 컬럼이름이 예약어라서 rename할 것

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10886 entries, 0 to 10885
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   datetime    10886 non-null  object
 1   season      10886 non-null  int64
 2   holiday     10886 non-null  int64
 3   workingday  10886 non-null  int64
 4   weather     10886 non-null  int64
 5   temp        10886 non-null  float64
 6   atemp       10886 non-null  float64
 7   humidity    10886 non-null  int64
 8   windspeed   10886 non-null  float64
 9   casual      10886 non-null  int64
 10  registered  10886 non-null  int64
 11  count       10886 non-null  int64
dtypes: float64(3), int64(8), object(1)
memory usage: 1020.7+ KB

# Rename
* datetime은 보통 예약어이기 때문에, 컬럼이름을 변경해준다.

> <font color = blue>df.rename(columns = {'old_nm' : 'new_nm'}, inplace = True)

In [5]:
tr.rename(columns = {'datetime' : 'regdate'}, inplace = True)

# 구조확인 3종
    - df.head()
    - df.info()
    - df.shape : 필요할 때

## 결측 체크

In [6]:
tr.isna().sum().value_counts()

0    12
dtype: int64

## Object 체크

In [7]:
tr.select_dtypes('object').columns

Index(['regdate'], dtype='object')

### regdate 포맷(타입) 변환
    - object(str) ---> datetime

In [8]:
from datetime import datetime

In [9]:
datetime.strptime('2020-12-14 20:12:59','%Y-%m-%d %H:%M:%S')

#글자를 날짜로

datetime.datetime(2020, 12, 14, 20, 12, 59)

In [10]:
datetime.fromisoformat('2020-12-14 20:12:59')

#글자를 날짜로

datetime.datetime(2020, 12, 14, 20, 12, 59)

* Dataframe '2020-01-01' ------> datetime.datetime(2020,1,1)

### 기타 방법
    - pd.read_csv(..parse_dates=[컬럼명])
    - pd.to_datetime(df[컬럼])
    -df[].astype('datetime64')

In [11]:
tr['regdate_datetype22']=pd.to_datetime(tr['regdate'])
tr.head(2)

,regdate,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,regdate_datetype22
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16,2011-01-01 00:00:00
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40,2011-01-01 01:00:00

In [12]:
tr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10886 entries, 0 to 10885
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   regdate             10886 non-null  object
 1   season              10886 non-null  int64
 2   holiday             10886 non-null  int64
 3   workingday          10886 non-null  int64
 4   weather             10886 non-null  int64
 5   temp                10886 non-null  float64
 6   atemp               10886 non-null  float64
 7   humidity            10886 non-null  int64
 8   windspeed           10886 non-null  float64
 9   casual              10886 non-null  int64
 10  registered          10886 non-null  int64
 11  count               10886 non-null  int64
 12  regdate_datetype22  10886 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(3), int64(8), object(1)
memory usage: 1.1+ MB

In [13]:
tr['regdate_datetype33']=tr['regdate'].apply(lambda x : datetime.strptime(x,'%Y-%m-%d %H:%M:%S'))
tr.head(2)

#바꾼 값을 전체에 적용해라 : 람다

,regdate,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,regdate_datetype22,regdate_datetype33
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16,2011-01-01 00:00:00,2011-01-01 00:00:00
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40,2011-01-01 01:00:00,2011-01-01 01:00:00

In [14]:
tr['regdate44']= tr['regdate'].astype('datetime64[ns]')
tr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10886 entries, 0 to 10885
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   regdate             10886 non-null  object
 1   season              10886 non-null  int64
 2   holiday             10886 non-null  int64
 3   workingday          10886 non-null  int64
 4   weather             10886 non-null  int64
 5   temp                10886 non-null  float64
 6   atemp               10886 non-null  float64
 7   humidity            10886 non-null  int64
 8   windspeed           10886 non-null  float64
 9   casual              10886 non-null  int64
 10  registered          10886 non-null  int64
 11  count               10886 non-null  int64
 12  regdate_datetype22  10886 non-null  datetime64[ns]
 13  regdate_datetype33  10886 non-null  datetime64[ns]
 14  regdate44           10886 non-null  datetime64[ns]
dtypes: datetime64[ns](3), float64(3), int64(8), object(1)
memory usage: 1.2+ MB

## Shape 체크

In [15]:
tr.shape

(10886, 15)

# EDA 시작

In [16]:
tr = pd.read_csv('./train.csv', parse_dates=["datetime"]) #로드! np, pd import
tr.columns = tr.columns.str.lower() #작업하기 편하게 컬럼명 소문자로 변경
tr.head(2)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40

In [17]:
tr.rename(columns = {'datetime' : 'regdate'}, inplace = True)
tr.head(2)

,regdate,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40

In [18]:
tr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10886 entries, 0 to 10885
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   regdate     10886 non-null  datetime64[ns]
 1   season      10886 non-null  int64
 2   holiday     10886 non-null  int64
 3   workingday  10886 non-null  int64
 4   weather     10886 non-null  int64
 5   temp        10886 non-null  float64
 6   atemp       10886 non-null  float64
 7   humidity    10886 non-null  int64
 8   windspeed   10886 non-null  float64
 9   casual      10886 non-null  int64
 10  registered  10886 non-null  int64
 11  count       10886 non-null  int64
dtypes: datetime64[ns](1), float64(3), int64(8)
memory usage: 1020.7 KB

## regdate

In [19]:
from datetime import datetime, date

In [20]:
tr['regdate'].head()

0   2011-01-01 00:00:00
1   2011-01-01 01:00:00
2   2011-01-01 02:00:00
3   2011-01-01 03:00:00
4   2011-01-01 04:00:00
Name: regdate, dtype: datetime64[ns]

In [21]:
tr['regdate']

tr['y'] = tr['regdate'].dt.year
tr['m'] = tr['regdate'].dt.month
tr['d'] = tr['regdate'].dt.day
tr['h'] = tr['regdate'].dt.hour

In [22]:
tr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10886 entries, 0 to 10885
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   regdate     10886 non-null  datetime64[ns]
 1   season      10886 non-null  int64
 2   holiday     10886 non-null  int64
 3   workingday  10886 non-null  int64
 4   weather     10886 non-null  int64
 5   temp        10886 non-null  float64
 6   atemp       10886 non-null  float64
 7   humidity    10886 non-null  int64
 8   windspeed   10886 non-null  float64
 9   casual      10886 non-null  int64
 10  registered  10886 non-null  int64
 11  count       10886 non-null  int64
 12  y           10886 non-null  int64
 13  m           10886 non-null  int64
 14  d           10886 non-null  int64
 15  h           10886 non-null  int64
dtypes: datetime64[ns](1), float64(3), int64(12)
memory usage: 1.3 MB

## 인덱스 지정

* regdate 컬럼을 index 값으로 변환 : 컴퓨터는 index를 학습에서 제외하기 때문에
* 버리지 않는 이유? 필요하면 나중에 꺼내서 값으로 쓰려고

In [23]:
tr = tr.set_index('regdate')
tr.head()

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,y,m,d,h
regdate,,,,,,,,,,,,,,,
2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16,2011,1,1,0
2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40,2011,1,1,1
2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32,2011,1,1,2
2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13,2011,1,1,3
2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1,2011,1,1,4

## 인덱스에서 빼내기

In [24]:
# tr = tr.reset_index('regdate')
# tr.head()

* 시간을 인덱스로 하는 또 다른 이유 : x축이 날짜여야 시계열 분석이 가능하다. 포맷 관계 없이

##  casual,    registered       ,  count

In [25]:
tr[(tr['casual']+tr['registered']) != tr['count']].shape

(0, 15)

* 합산인 count만 살려놓거나, 각 값인 casual, registerd 만 살려놓거나
* 정답 제출했을 때 점수 높은 애들로 놓는다.
* 그냥 계속 다시 재시도만이 답이다.

In [26]:
tr.head()

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,y,m,d,h
regdate,,,,,,,,,,,,,,,
2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16,2011,1,1,0
2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40,2011,1,1,1
2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32,2011,1,1,2
2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13,2011,1,1,3
2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1,2011,1,1,4

***